<header>
  <img src="https://cdn.evbuc.com/images/11935424/65962156417/1/logo.jpg" alt="meh" />
  <h1 class="heading">Galvanize Reads</h1>
</header>

<h1>Add a author</h1>
<form  action="/addauthor" method="post">
<label for="first_name">First Name</label>
  <input type="text" name="first_name" value="">
<label for="last_name">Last Name</label>
  <input type="text" name="last_name" value="">
<label for="biography">Biography</label>
  <input type="text" name="biography">
<label for="portrait_url">Portrait URL</label>
  <input type="text" name="portrait_url" >
<input type="submit">
</form>
