<div class="wrapper">
  <header>
    <img src="https://cdn.evbuc.com/images/11935424/65962156417/1/logo.jpg" alt="meh" />
    <h1 class="heading">Galvanize Reads</h1>
  </header>
  <section>
    {{#each list}}
      <ul>
        <li>
          {{this.title}}
          {{this.description}}
          <img src="{{this.cover_url}}">
        </li>
    </ul>
    {{/each}}
  </section>
</div>
