{{#each item}}
  <ul>
    <h1>{{this.first_name}}
        {{this.last_name}}
    </h1>
    <li>{{this.biography}}</li>
  </ul>
  <img src="{{this.portrait_url}}"/>
{{/each}}
<a href="/book">Back to Book list</a>
