<header>
  <img src="https://cdn.evbuc.com/images/11935424/65962156417/1/logo.jpg" alt="meh" />
  <h1 class="heading">Galvanize Reads</h1>
</header>
<div class="landing">
  <div class="books">
    <a href="/book"><img src="http://www.animatedimages.org/data/media/53/animated-book-image-0032.gif" alt="bookman" /></a>
  </div>
  <div class="authors">

  <a href="/author"><img src="http://heyoscarwilde.com/wp-content/uploads/2008/08/destephano_hem.jpg" alt="hem" />
  </div></a>  
</div>
