.book {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.descript {
  // height: 1px;
  width: 40vw;
  padding-left: 4rem;
  padding-right: 4rem;
}
.bio {
  width: 40vw;
  padding-left: 4rem;
  padding-right: 4rem;
}
